<div class="col-lg-8">
  <form class="form-inline">

    <br/>

    <div class="wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Codigo Interno</label>
              <input type="text" class="form-control" placeholder="Favor inserir o Codigo" maxlength="6">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Codigo Barras</label>
              <input type="text" class="form-control" size="25" placeholder="Favor inserir o Codigo de Barras" maxlength="13">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Descrição de Produto</label>
              <input type="text" class="form-control" size="100" placeholder="Favor inserir a descrição" maxlength="255">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <p></p>
              <label><i class="glyphicon glyphicon-search"></i></label>
              <botao nome="Pesquisar" tipo="submit" estilo="btn-primary"></botao>
            </div>
          </div>
        </div>

      </div>
    </div>

  </form>
</div>