
<app-dialog [(visible)]="showDialog">
     <div class="modal-body">
                 <table id="tableDisplay" class="table table-bordered table-striped table-striped table-sm " style="background-color: white;">
                <thead class="card-header thead-inverse text-center">
                    <tr>
                        <th>
                            Código
                        </th>
                        <th>
                            Descrição
                        </th>
                        <th>
                            Título
                        </th>
                        <th>
                            Preço
                        </th>
                         
                    </tr>
                </thead>
                <tbody>
                    <tr   style="font-size: 20px; color: black;">
                               <b> {{livro.id}}  </b> <br/>
                      <td>
                                <b>{{livro.descricao}}</b>
                      
                      </td>    
                      <td>
                                <b>{{livro.titulo}}</b>
                      </td>  
                                            <td>
                                <b>{{livro.preco | currency:'BRL':true:'1.2-2'}}</b>
                      </td>  
                    
                    </tr>

                </tbody>
            </table>
                   </div>
  <button (click)="showDialog = !showDialog" class="btn">Close</button>
</app-dialog>

    <div class="col col-lg-12">
       
        <div class="card">
            
            <table id="tableDisplay" class="table table-bordered table-striped table-striped table-sm " style="background-color: white;">
                <thead class="card-header thead-inverse text-center">
                    <tr>
                        <th>
                            Código
                        </th>
                        <th>
                            Descrição
                        </th>
                        <th>
                            Título
                        </th>
                        <th>
                            Preço
                        </th>
                       
 
                    </tr>
                </thead>
                <tbody> 
                    <tr (click)="mostrar('Destalhes',itens)"  style="font-size: 20px; color: black;"  *ngFor="let itens of livros | orderBy : ['itens.id']">
                               <b> {{itens.id}}</b> <br/>
                      <td>
                                <b>{{itens.descricao}}</b>
                      
                      </td>    
                      <td>
                                <b>{{itens.titulo}}</b>
                      </td>  
                                            <td>
                                <b>{{itens.preco | currency:'BRL':true:'1.2-2'}}</b>
                      </td>  
                       
                           
                       
                      
                    </tr>

                </tbody>
            </table>
    </div>
